@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
width: 33%;
float:left;
padding-left: 50px ;
padding-right: 50px;

}
p{

    margin-top: 20px;
}
h1{


    margin-top: 10px;
}
img{
    width:300px;
}
p{
    color:;
}

.box-s{

    margin-top: 200px;

}
.box-c{
    margin-top: 170px;

}

