:root{
    --theme-var-page: 1410px;
    --theme-var-page_boxed_extra: 60px;
    --theme-var-page_fullwide_max: 1906px;
    --theme-var-paddings_fullwide: 100px;
    --theme-var-sidebar: 408px;
    --theme-var-sidebar_gap: 40px;
    --theme-var-grid_gap: 30px;
    --theme-var-rad: 0;
    --theme-var-gap: 72;
    --theme-var-rad50: 0;
    --theme-var-rad1em: 0;
    --theme-var-rad4: 0;
    --theme-var-rad3: 0;
    --theme-var-rad2: 0;
    --theme-var-page_boxed: 1530px;
    --theme-var-content: 962px;
    --theme-var-koef_narrow: 0.75;
    --theme-var-content_narrow: 721.5px;
    --theme-var-padding_narrow: 240.5px;
    --theme-var-sidebar_and_gap: 448px;
    --theme-var-sidebar_prc: 0.28936170212766;
    --theme-var-sidebar_gap_prc: 0.028368794326241;
    --theme-var-page_1_1: 1410px;
    --theme-var-page_1_2: 705px;
    --theme-var-page_1_3: 470px;
    --theme-var-page_2_3: 940px;
    --theme-var-page_1_4: 352.5px;
    --theme-var-page_3_4: 1057.5px;
    --theme-var-page0: 1410px;
    --theme-var-content0: 962px;
    --theme-var-elm_gap_nogap: 0px;
    --theme-var-page10: 1420px;
    --theme-var-content10: 972px;
    --theme-var-elm_gap_narrow: 10px;
    --theme-var-page20: 1430px;
    --theme-var-content20: 982px;
    --theme-var-elm_gap_default: 20px;
    --theme-var-page30: 1440px;
    --theme-var-content30: 992px;
    --theme-var-elm_gap_extended: 30px;
    --theme-var-page40: 1450px;
    --theme-var-content40: 1002px;
    --theme-var-elm_gap_wide: 40px;
    --theme-var-page60: 1470px;
    --theme-var-content60: 1022px;
    --theme-var-elm_gap_wider: 60px;
    --theme-var-elm_add_page_margins: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,200&family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #868686;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    font-family: 'Karla', sans-serif;
    
}

a{

    text-decoration: none;
    color: #868686;
}

li{
    list-style: none;
}
img{
    max-width: 100%;
}

.section{
    float: left;
    width: 100%;
}

.container{
    float: none;
    width: 100%;
    margin: 0 auto;
}




/* header */
.header{
    padding: 20px 0px;
    z-index: 500;
    font-family: 'Karla', sans-serif;  
    font-size: 11.2px;
}

.header ul li{
    float: left;
    text-transform: uppercase ;
}

.header .container{
   display: flex;
}
.header > .container > div{
    width: 33.33%;
    box-sizing: border-box;
    padding: 0px 15px;
}

/* Nav -------------------------------------------------- */
.nav {
	cursor: default;
	position: relative;
    line-height: 14px;
    padding-top: 10px;
}

/* menu list */
.nav > li {
	display: block;
	float: left;
    padding: 8px;
}

/* menu links */
.nav > li > a {
    letter-spacing: 1px;
    display: block;
    color: #282828;
    font-weight: 500;
    line-height: 12px;
    padding-right: 12px;
    position: relative;
    text-shadow: 0 0 1px rgba(0,0,0,.35);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 510;
}

.nav > li > a > span {
    display: inline-block;
    font-size: small;
    line-height: 0px;
}


.nav > li:hover > a {
  color: #af7f66;
}

/* menu dropdown */
.nav > li > div {
    background: #242424;
    border: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
    position: absolute;
    display: block;
    opacity: 0;
    overflow: hidden;
    top: 40px;
    -webkit-transition: all .3s ease .15s;
      transition: all .3s ease .15s;
      visibility: hidden;
      width: auto;
}
.nav > li:hover > div {
      opacity: 1;
      overflow: visible;
      visibility: visible;
}


/* menu content styles */
.header .nav .nav-column{
    float: none;
    display: flex;
    width: 10em;
    height: auto;
    margin-left: -10px;
    padding: 20px 10px;
    
}
.nav .nav-column {
    background-color: #282828;
}

.nav .nav-column li{
    padding: 10px;
    flex-direction: column;
}


.nav .nav-column li a {
	color: #888;
	display: block;
	font-weight: bold;
    font-size: 100%;
	line-height: 26px;
    text-align: left;
}
.nav .nav-column li a:hover {
  color: #fff;
}

/* end nav */



.hright > ul{
    float: right;
    display: flex;
    padding-top: 16px;
}

.hright > ul > li{
    position: relative;
    float: left;
    padding: 0px 10px;
}

.hright > ul > li > a{
   font-size: 11.2px;
   letter-spacing: 0.96px;
   color: #242424;
   padding: 16px;
}

.hright > ul > li:hover > a {
    color: #af7f66;
}


.hright > ul > li span {
    font-weight: 300;
    display: inline-block;
    font-size: normal;
    line-height: 0px;
    vertical-align: middle;
}

.hright .text-hright{
    margin-left: 5px;
}



/* end header ---------------------------------- */





/* begin main ---------------------------------------*/


.slider{
    /* background-image: url("../images/product-1-3.png"); */
    background-color: #af7f6633;
    background-repeat: no-repeat;
    background-position: center ;
    height: 848px;

}

.slider > .zoom{
    padding-top: 100px;
}
.slider > .zoom img{
    transform: rotate(25deg);
}

.slider > .slider-text{
    display: flex;
    position: relative;
}
.slider-text > h1 {
    width: 50%;
}

.click >ul{
    display: flex;
    margin-top: -40px;
}
.click >ul >li{
    width: 33.33%;
    text-transform: uppercase;
}
.click >ul >li:first-child{
    text-align: left;
    margin-left: 20px;
}
.click >ul >li:last-child{
    text-align: right;
    margin-right: 20px;
}


.slider h1{
    vertical-align: middle;
    font-size: 190px;
    letter-spacing: 10px;
    font-weight: 300;
    color: #bbb1ab;
    font-family: 'Libre Baskerville', serif;
    margin-top: -400px;
}




.first{
    text-align: center;
    padding: 0% 25% 0% 25%;
    margin-bottom: 100px;
}
.element4 h1,
.e3-right h1,
.e1-left h1,
.first h1{
    margin: 100px 0px 30px 0px;
    font-family: 'Libre Baskerville', serif;
    font-size: 46px;
    line-height: 52.2px;
    color: #242424;
    font-weight: 400;
    font-style: normal;
}
.e3-right p,
.e1-left p,
.first p{
    font-family: inherit;
    line-height: 2;
}

/* product ------------------------------------- */
.after-first{
    margin-bottom: 68px;
}
.element5 > ul,
.after-first > ul{
    display: flex;
    /* margin-right: -32px; */
    padding: 0px 0px 0px 32px;
}
.element5 > ul >li,
.after-first > ul >li{
    width: 33.3333%;
    padding: 0px 32px 32px 0px;
    
}

 
.col > div{
    float: flex;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8f7f6;
    padding-bottom: 25px;
}

.col > div > .text-product{
    position: relative;
    overflow: visible;
    padding: 44px 24px;
} 

.col .add-cart{
    display: none;
    
}


.element5 .col:hover{
    transform: scale(0.97);
    transition: all 0.5s;
}

.image-product > img{
    width: 100%;
}
.col .image-product:hover > img{
    transform: scale(1.1);
    transition: all 0.5s ease;

}
.col:hover .add-cart{
    display: block;
    transform: scale(1.25);
    transition: all 0.5s;
}

.col:hover .add-cart{
    transition: all 0.5s;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.text-product h1{
    font-size: 14px;
    line-height: 20.8px;
    text-transform: uppercase;
    font-weight: normal;
    color: #2c2c2c;
}
.col:hover h1{
    opacity: 0;
}
.text-product p{
    line-height: 16px;
    font-size: 13px;
    font-weight: 300;
    color: black;
    margin: 18px auto;
}

.col:hover p{
    opacity: 0;
} 
.text-product .pu{
    text-decoration: line-through;
    color: #868686;

}

.add-cart{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.add-cart button{
    margin-top: 30px;
    color: #242424;
    border-color: #d7d6d5;
    text-transform: uppercase;
    background-color: transparent;
    border-style: solid;
    padding: 0.9em 1.7em;
    max-width: 100%;
}
.element6 > a:hover,
.add-cart button:hover{
    color: #fff;
    background-color: #242424;
    border: none;
}

/* element 1 -----------------------------*/

.container-min{
    max-width: var(--theme-var-page_fullwide_max);
    margin: 0 auto;
    width: 100%!important;
    padding-left: var(--theme-var-paddings_fullwide);
    padding-right: var(--theme-var-paddings_fullwide);
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.element3,
.element1{
    display: flex;
    padding-top: 100px;
    width: 100%;
}
.element3 > div,
.element1 > div{
    width: 50%;
    display: flex;
}

.e3-right > div,
.e1-left > div{
    text-align: left;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding: 0% 20% 0% 11%;

}
.element1-product-text > button,
.element6 > a,
.e3-right > div > button,
.e1-left > div > button{
    margin-top: 30px;
    color: #242424;
    border-color: #d7d6d5;
    text-transform: uppercase;
    background-color: transparent;
    border-style: solid;
    padding: 0.9em 1.7em;
    max-width: 100%;
}

.e3-left,
.e1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 550px;
}
.e1-left > img,
.e1-right > img {
    transform: translate3d(0px, 8.2456%, 0px);
}

/* element2 ----------------------------------------------*/
.element2{
    display: flex;
    margin-top: 100px;
    width: 100%;
    background-color: #f8f7f6;
    max-height: 592px;
}

.element2 > div{
    width: 33.33%;
}


.e2-left > div{
    padding: 100px 70px;
}

.e2-left > div > div{
    text-align: left;
}

.text-2{
    padding-top: 100px;
}

.e2-text > p{
    line-height: 2;
    font-size: small;
}
.e2-text > h1{
    color: #242424;
    font-weight: 300;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    padding: 10px 0px;
}

.e2-mid{
    margin: -50px 0 -50px 0;
}
.e2-mid img{
    height: 692px;
}


/* element3 ------------------------------------ */
.e3-right {
    align-items: center;
    align-items: center;
}
.e3-right > div{
    padding: 0% 11% 0% 20%;
}

/* element5 -------------------------------------- */
.element5{
    margin-top: 60px;
}
.element5 > ul >li{
    width: 25% ;
}
/* element6 -------*/
.element6 {
    margin-top: 30px;
}

/* end main ------------------------------------------------------ */

/* footer ------------- */
.footer{
    margin-top: 100px;
    background-color: #212121;
}
.footer-e1{
    padding: 100px 92px;
    
}

.footer-e1 > div{
    display: flex;
}

.footer-e1 > div > div{
    width: 50%;
}

.f-left{
    text-align: left;
    padding-right: 15%;
    border-right: solid 0.01px #9f9d9d47;
}
.f-left > h1{
    color: #ffffff;
    font-size: medium;
    font-family: "Karla",sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 1.2rem;
    letter-spacing: 1px;
}
.f-left > form{
    width: 100%;

}

.f-left > form > input{
    color: #868686;
    font-size: 15px;
    width: 70%;
    padding: 1.4em 1.2em;
    border-width: 2px;
    border-style: none;
    border-radius: none;
    background-color: #2c2c2c;
}

.f-left > form > input:hover{
    border-radius: 0;
}



.f-left > form > button{
    font-family: "Karla",sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1 px;
    color: #272626;
    border-width: 0.1px!important;
    padding: 1.26em 2em;
    border-style: none;
    background-color: ffffff;
    margin-left: -4px;
    
}

.f-left > form > button:hover{
    color: #fff;
    background-color: #af7f66;
}


.f-right{
    padding-left: 86px;
    display: flex;
}

.f-right > div{
    width: 33.33%;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    
}

.f-right > .col > h5{
    font-weight: 400;
    letter-spacing: 2px;
}

.f-right > .col > ul{
    margin-top: 2.9rem;
}

.f-right > .col > ul > li {
    margin-bottom: 0.9rem;
    font-size: 11px;
    letter-spacing: 1px;
    
}

.f-right a{
    color: #fff;
    font-weight:400;
}

.f-right a:hover{
    color: #af7f66;
}

.footer-e2 a{
    color: #fff;
    font-weight: 500;
}

.footer-e2 p{
    color: #afafaf;
    font-weight: 500;
}

.footer-e2 a:hover{
    color: #af7f66;
    text-decoration: underline ;
}

.footer-e2 > div{
    padding: 15px 92px 28px 92px;
    letter-spacing: 1px;
}

.footer-e2 > div >div{
    padding: 40px 0px 22px;
    border-top: solid 0.01px #9f9d9d47 ;
}

/* product.html ------------------------------*/
.slider-product {
    display: flex;
    flex-direction: column;
    background-image: url(../images/slider-product.png);
    min-height: 342px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.slider-product > div {
    padding: 48px 0px;
}

.slider-product {
    color: whitesmoke;
}
.slider-product > div > div{
    color: #868686;
    display: inline-flex;
}

.slider-product h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 52px;
    line-height: 52.2px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}
.slider-product p,
.slider-product a{
    margin: 0px 5px;
    font-size: 20px;
}

.slider-product a:hover{
    color: whitesmoke;
}

/* element-product ------------ */
.container-product{
    float: none;
    max-width: var(--theme-var-page);
    margin: 0 auto;
    width: 100%!important;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.element1-product{
    margin-top: 100px;
    display: flex;
}

.element1-product>div:first-child {
    width: 45%;
    background-color: #d7d6d5;
}
.element1-product>div:last-child {
    width: 55%;
    padding-left: 5em;
    float: right;
}

.element1-product-text{
    text-align: left;
}

.element1-product-text h1{
    color: black;
    margin-right: 10px;
}

.element1-product-text p{
   letter-spacing: 0.5px;
   line-height: 24px;
}


.line-through{
    text-decoration: line-through;
}
.element1-product-text > div:first-child{
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    margin-bottom: 1.3em;
}

.element1-product-text > div:last-child{
    display: grid;
}

.element1-product-text .button {
    display: flex;
    margin: 15px 0px;
}
.element1-product-text input {
    border: 2px solid #af7f66 ;
    padding: 11px;
    width: 100px;
    font-size: 16px;
}

.element1-product-text button {
    background-color: #242323;
    color: floralwhite;
    border: 2px solid #242323;
    font-size: 18px;
    text-transform: uppercase ;
    padding: 16px 16px;
    display: flex;
    margin-left: 10px;
}

.element1-product-text button:hover {
    background-color: #af7f66;
    border: 2px solid #af7f66;
}
.element1-product-text > .cate span {
    padding-top: 5px;
}

.element1-product-text a {
   color: #242323;
}

.element1-product-text a:hover {
    color: #af7f66;
 }

 /* icon load --------- */
 .icon{
    display: flex;
    -webkit-box-align: center;
    display: flex!important;
    align-items: center;
    color: #242424;
 }

 .icon:hover{
    color: #af7f66;
 }

 .icon:hover > p{
    width: 0px;
    transition: opacity 0.5s ease,width 1s ease,margin 1s ease;
    
 }

 .icon:hover > span{
    
 }

 .icon > .line{
    color: currentColor;
    background: currentColor;
    width: 2.7em;
    height: 0.125em;
    max-height: 2px;
 }

 .icon > p {
    width: 84px;
    opacity: 1;
    margin: 0px 5px;
    text-transform: uppercase;
    overflow: hidden;
    transition-property: width;
    transition-duration:3s;
 }




.element2-product{
    margin-top: 100px;
    display: flex;
}

.element2-product > ul{
    
    display: flex;
}

.element2-product > ul > li{
    padding: 22px 16px;
    text-transform: uppercase;
    border: solid 3px #868686;
    color: black;
    margin-right: 5px;
    font-size: 14px ;
}

.element2-product > ul >.active,
.element2-product > ul > li:hover{
    background-color: #212121;
    color: white;
    border-color: #212121;
    position: relative;
}
.element2-product > ul > .active:hover{
    background-color: #af7f66;
    border-color: #af7f66;
}

/* element3-product ------------------- */

.element3-product{
    margin-top: 30px;
}

.element3-product > div{
    /* display: none; */
    text-align: left;
    margin-bottom: 100px;
}

/* information ----------*/
.element3-product table{
    width: 100%;
    border-collapse: collapse;
}

.element3-product > div h1{
    letter-spacing: 1px;
    margin-bottom: 16px;
    color: #242424;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    font-size: 32px;
}

.element3-product tr:first-child > td,
.element3-product tr:first-child > th{
    border-top: 1px dotted rgba(0,0,0,.1);
}
.element3-product td,
.element3-product th{
    padding: 8px;
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.element3-product th{
    width: 150px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: #242424;
}
.element3-product tr:nth-child(2n+1)>*{
    background-color: rgba(248,247,246,0.4);
}
.element3-product tr:nth-child(2n)>*{
    background-color: rgba(0,0,0,0.03);
}

/* review --------------- */

.element3-product #reviews{
    display: flex;
    width: 100%;
}

#reviews > div{
    width: 50%;
}


.element3-product form > div{
    display: grid;
    margin-bottom: 1.5em;
}

.element3-product form  label{
    margin-bottom: 3px;
}

.element3-product form textarea,
.element3-product form  input{
    padding: 0.7em 1.2em;
    border: 2px solid #86868630;
    border-radius: 0px;
    background-color: #86868630;
}

.element3-product form textarea:hover,
.element3-product form  input:hover{
    border-style: solid;
    color: #242424;
    border-radius: 0px;
    background-color: #ffffff;
    border-color: #242323;
}


.element3-product form > .checkbox{
    display: flex;
}
.element3-product form > .checkbox > input{
    margin-right: 8px;
}

.element3-product form > button{
    padding: 16px 30px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    background-color: #242424;
    text-transform: uppercase;
}
.element3-product form > button:hover{
    color: #242323;
    background-color: #af7f66;
}

/* element4-product ------------------*/

.element4-product > h2{
    margin: 100px 0px;
    font-size: 56px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #242424;
}

.element4-product > ul {
    display: flex;
}

.element4-product > ul >li{
    padding: 0px 10px;
}