@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Libre+Baskerville:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #868686;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
    color: #868686;
}


img {
    max-width: 100%;
}

a:hover{
    color:#af7f66;
}
.section{
    float:left;
    width:100%;
}
.container{
    float:none;
    width: 100%;
    margin: 0 auto;
}
.header{
    float: left;
    padding: 100px 0px 0px 0px;

}

/* header */
.nav{
    padding: 12px 0px;
}
.nav .container div{
    float: left;
    width: calc(33% - 20px);
    margin: 10px;
}

.hleft ul {
    float:left;
}
.hright ul {
    float:right;
}
ul li{
    float: left;
    padding: 10px;
    text-transform: uppercase ;
}
li{
    list-style: none;
}

.hmid{

}
/*endheader */
/*main*/
.slider{
    background-image: url("../images/h4-copyright.png");
    text-align: center;
    min-height: 342px;
    padding: calc(15%);
}
.first{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.first .container .right{
padding: 60px;
}
.first .container div{
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.first .container .right h1{
font-weight: 900;
    font-size:45px ;
    color: black;
    margin-bottom: 20px;
}
.first .container .right div{
    margin-top: 40px;
}
.images .container div{
    width: 25%;
    float:left;
    box-sizing: border-box;

}
.images .container div img{
    height: 359px;
    width: 100%;
}
.conten .container div h1{
    font-size: 45px;
    font-weight: 900;
    color: black;
    margin-bottom: 50px;
}
.conten .container div p{

    margin-bottom: 50px;
}
/*endmain*/

/* footer*/
.footer {
    background: #272626;
}
.footer .container div{
  width: 50%;
  box-sizing: border-box;
    float: left;
height: 200px;
}
.signup{
    float:left;
}

.info div  {
    width: 33.3333%;
    float: left;

}
.endfooter{
    text-align: center;
    color: #ccc;
}
/*endfooter*/