*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #868686;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    font-family: 'Karla', sans-serif;

}

a{

    text-decoration: none;
    color: purple;
}

li{
    list-style: none;
}
img{
    max-width: 100%;
}

.section{
    float: left;
    width: 100%;
}

.container{
    float: none;
    width: 458px;
    margin: 0 auto;
    box-shadow: 5px 5px #0000004f;
}

body{
    background-color: #0dcaf0;
}
.form{
    margin-top: 100px;
}

.register{
    background-color: Purple ;
    padding: 20px;
    color: white;
}

.register > span > i{
    font-size: 50px;
    padding-bottom: 10px;
}

.register > h1{
    text-transform: uppercase;
}

.form-input{
    background-color: white;
    padding: 50px 20px;
}

.form-input > div{
    padding-bottom: 16px;
    box-sizing: border-box;
}
.form-input > div > input{
    font-size: 20px;
    background-color: #86868638;
    color: #2c3034;
    border: none;
    padding: 10px 0px 10px 60px;
}
.form-input > div > input:hover{
    border: none;
}

.form-input > div > span{
    align-content: center;
    align-items: center;
    margin-right: -20px;
    position: absolute;
    font-size: 35px;
    padding: 5px;
    color: purple;
}
 .checkbox{
     display: flex;
     padding-left: 55px;
 }
 .checkbox >p{
     padding-left: 10px;
 }

.button{
    background-color: purple;
    padding: 10px;
    border: none;
    color: white;
    width: 73%;
    font-size: 25px;
}

.are{
    display: flex;
    padding-left: 95px;
}